<nav class="#80d8ff cyan lighten-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo black-text">KS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="black-text" href="/">Home</a></li>
        <li><a class="black-text" href="/shops">See Shop</a></li>
        <li><a class="black-text" href="/shops/new">Add Shop</a></li>
        <li><a class="black-text" href="/donuts">See Donuts</a></li>
      </ul>
    </div>
  </nav>