<h1 class="center-align pink-text accent-3">Doughnut Shoppe</h1>

<div class="row">
    <div class="col s12">
        <img class="responsive-img" alt="donut_banner" src="/img/unicorn-pig-donuts.jpg"> 
        <!-- <img class="responsive-img" alt="donut_banner" src="https://truffle-assets.imgix.net/ee5b5ed7-unicorn-pig-donuts_lc.jpg">  -->
    </div>
</div>
<div class="row">
    <div class="col s4">
        <img alt="donuts1" class="responsive-img" src="https://www.sunbeam.com/on/demandware.static/-/Sites-sunbeam-Library/default/dw61e37d9b/images/blog/The-Best-Way-to-Make-Your-Own-Donuts_1855_40120599_0_14084331_500.jpg">
    </div>
    <div class="col s4">
        <img alt="donuts2" class="responsive-img" src="https://i1.wp.com/thebigmansworld.com/wp-content/uploads/2019/03/baked-vegan-glutenfree-paleo-keto-donuts-4.jpg?fit=1340%2C1340&ssl=1">
    </div>
    <div class="col s4">
        <img alt="donuts3" class="responsive-img" src="https://www.theflavorbender.com/wp-content/uploads/2018/01/Mini-Rainbow-Donuts-The-Flavor-Bender-Featured-Image-SQ-1.jpg">
    </div>
</div>